<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ee.ioc.phon.android.speak"
    android:installLocation="auto"
    android:versionCode="838"
    android:versionName="0.8.38" >

    <!-- API level 3: some default button was not found, but we didn't explore it further. -->
    <!-- API level 7: MediaRecorder.AudioSource.VOICE_RECOGNITION -->
    <!-- API level 8: android.speech.SpeechRecognizer and android.speech.RecognitionService -->
    <!-- TODO: setting targetSdkVersion=15 would switch on StrictMode -->
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:description="@string/descriptionApp"
        android:icon="@drawable/ic_launcher"
        android:label="@string/labelApp"
        android:theme="@style/RecognizerTheme" >

        <!--
			android:clearTaskOnLaunch="true"
			android:finishOnTaskLaunch="true"
			android:allowTaskReparenting="false"
        -->


        <!--
        TODO: singleTask seems a more appropriate launchMode,
        but it does not work, and with singleInstance we fail to
        deliver the results to the caller. So we have to use standard.
        -->
        <!-- This activity is exported, i.e. any app can launch K6nele. -->
        <!-- TODO: launching worked also with exported=true, although didn't try explicit packagename-based launching. -->
        <activity
            android:name=".RecognizerIntentActivity"
            android:exported="true"
            android:label="@string/labelActivityRecognizerIntent"
            android:launchMode="standard"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="android.speech.action.RECOGNIZE_SPEECH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.speech.action.WEB_SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.speech.DETAILS"
                android:value="ee.ioc.phon.android.speak.GetLanguageDetailsReceiver" />
        </activity>

        <!-- This receiver is exported, i.e. any app can ask which languages K6nele supports. -->
        <receiver
            android:name=".GetLanguageDetailsReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.speech.action.GET_LANGUAGE_DETAILS" />
            </intent-filter>
        </receiver>

        <!-- We fall back to the application label because this is a launcher activity. -->
        <activity
            android:name=".Preferences"
            android:label="@string/labelActivityPreferences" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/labelActivityAbout" >
        </activity>

        <!-- This is the only activity that the recognizer can launch. -->
        <!-- TODO: do not reparent -->
        <activity
            android:name=".DetailsActivity"
            android:label="@string/labelActivityDetails"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".AppListActivity"
            android:label="@string/labelActivityAppList" >
        </activity>
        <activity
            android:name=".GrammarListActivity"
            android:label="@string/labelActivityGrammarList" >
        </activity>
        <activity
            android:name=".ServerListActivity"
            android:label="@string/labelActivityServerList" >
        </activity>
        <activity
            android:name=".demo.SimpleDemo"
            android:label="@string/labelActivitySimpleDemo" >
        </activity>
        <activity
            android:name=".demo.RepeaterDemo"
            android:label="@string/labelActivityRepeaterDemo" >
        </activity>
        <activity
            android:name=".demo.VoiceSearchDemo"
            android:label="@string/labelActivityVoiceSearchDemo" >
        </activity>

        <service android:name="RecognizerIntentService" >
        </service>

        <!-- This service is exported, i.e. any app can call K6nele, but needs to have recording-permission. -->
        <!-- TODO: why can't I specify more permissions here? -->
        <service
            android:name="SpeechRecognitionService"
            android:exported="true"
            android:label="@string/labelApp"
            android:permission="android.permission.RECORD_AUDIO" >
            <intent-filter>

                <!-- The constant value is defined at RecognitionService.SERVICE_INTERFACE. -->
                <action android:name="android.speech.RecognitionService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.speech"
                android:resource="@xml/recognizer" />
        </service>

        <provider
            android:name=".provider.AppsContentProvider"
            android:authorities="ee.ioc.phon.android.speak.provider.AppsContentProvider"
            android:exported="false" />
    </application>

</manifest>