<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ee.ioc.phon.android.speak"
    android:installLocation="auto">


    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>

    <application
        android:allowBackup="true"
        android:description="@string/descriptionApp"
        android:icon="@drawable/ic_launcher"
        android:label="@string/labelApp"
        android:supportsRtl="true"
        android:theme="@style/Theme.K6nele">

        <!--
			android:clearTaskOnLaunch="true"
			android:finishOnTaskLaunch="true"
			android:allowTaskReparenting="false"
        -->


        <!--
        TODO: singleTask seems a more appropriate launchMode,
        but it does not work, and with singleInstance we fail to
        deliver the results to the caller. So we have to use standard.
        -->
        <!-- This activity is exported, i.e. any app can launch K6nele. -->
        <!-- TODO: launching worked also with exported=true, although didn't try explicit packagename-based launching. -->
        <activity
            android:name=".RecognizerIntentActivity"
            android:exported="true"
            android:label="@string/labelActivityRecognizerIntent"
            android:launchMode="standard"
            android:theme="@style/Theme.K6nele.Dialog">
            <intent-filter>
                <action android:name="android.speech.action.RECOGNIZE_SPEECH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.speech.action.WEB_SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.speech.DETAILS"
                android:value="ee.ioc.phon.android.speak.GetLanguageDetailsReceiver" />
        </activity>

        <!-- This receiver is exported, i.e. any app can ask which languages K6nele supports. -->
        <receiver
            android:name=".GetLanguageDetailsReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.speech.action.GET_LANGUAGE_DETAILS" />
            </intent-filter>
        </receiver>

        <!--
        The purpose of MAIN/DEFAULT/exported=true is to support the creation of "activity shortcut",
        e.g. via Nova Launcher, i.e. the user can create an additional icon that launches directly
        into the Preferences.
        -->
        <activity
            android:name=".Preferences"
            android:exported="true"
            android:label="@string/labelActivityPreferences">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PreferencesRecognitionServiceHttp"
            android:exported="false"
            android:label="@string/labelActivityPreferencesRecognitionServiceHttp"
            android:parentActivityName=".Preferences">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PreferencesRecognitionServiceWs"
            android:exported="false"
            android:label="@string/labelActivityPreferencesRecognitionServiceWs"
            android:parentActivityName=".Preferences">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AboutActivity"
            android:label="@string/labelActivityAbout"
            android:parentActivityName=".Preferences"
            android:theme="@style/Theme.K6nele.NoActionBar"></activity>

        <!-- This is the only activity that the recognizer can launch. -->
        <!-- TODO: do not reparent -->
        <activity
            android:name=".DetailsActivity"
            android:label="@string/labelActivityDetails"
            android:theme="@style/Theme.K6nele.Dialog"></activity>
        <activity
            android:name=".AppListActivity"
            android:label="@string/labelActivityAppList"
            android:parentActivityName=".Preferences"></activity>
        <activity
            android:name=".GrammarListActivity"
            android:label="@string/labelActivityGrammarList"
            android:parentActivityName=".Preferences"></activity>
        <activity
            android:name=".ServerListActivity"
            android:label="@string/labelActivityServerList"
            android:parentActivityName=".PreferencesRecognitionServiceHttp"></activity>
        <activity
            android:name=".demo.SimpleDemo"
            android:label="@string/labelActivitySimpleDemo"></activity>
        <activity
            android:name=".demo.ExtrasDemo"
            android:exported="true"
            android:label="@string/labelActivityExtrasDemo"></activity>
        <activity
            android:name=".demo.RepeaterDemo"
            android:label="@string/labelActivityRepeaterDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demo.VoiceSearchDemo"
            android:label="@string/labelActivityVoiceSearchDemo"></activity>

        <service android:name="RecognizerIntentService"></service>

        <!-- This service is exported, i.e. any app can call K6nele, but needs to have recording-permission. -->
        <!-- TODO: why can't I specify more permissions here? -->
        <service
            android:name="WebSocketRecognizer"
            android:exported="true"
            android:label="@string/labelRecognitionServiceWs"
            android:permission="android.permission.RECORD_AUDIO">
            <intent-filter>

                <!-- The constant value is defined at RecognitionService.SERVICE_INTERFACE. -->
                <action android:name="android.speech.RecognitionService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.speech"
                android:resource="@xml/recognition_service_ws" />
        </service>

        <service
            android:name="SpeechRecognitionService"
            android:exported="true"
            android:label="@string/labelRecognitionServiceHttp"
            android:permission="android.permission.RECORD_AUDIO">
            <intent-filter>

                <!-- The constant value is defined at RecognitionService.SERVICE_INTERFACE. -->
                <action android:name="android.speech.RecognitionService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.speech"
                android:resource="@xml/recognition_service_http" />
        </service>

        <service
            android:name="VoiceImeService"
            android:label="@string/labelApp"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/input_method" />
        </service>

        <provider
            android:name=".provider.AppsContentProvider"
            android:authorities="ee.ioc.phon.android.speak.provider.AppsContentProvider"
            android:exported="false" />

        <provider
            android:name=".provider.FileContentProvider"
            android:authorities="ee.ioc.phon.android.speak.provider.FileContentProvider"
            android:exported="true"
            android:permission="android.permission.RECORD_AUDIO" />
    </application>

</manifest>