<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ee.ioc.phon.android.speak"
    android:installLocation="auto">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>

    <!-- Some Chromebooks don't support touch. Although not essential,
     it's a good idea to explicitly include this declaration. -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:description="@string/descriptionApp"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/labelApp"
        android:supportsRtl="true"
        android:theme="@style/Theme.K6nele">

        <!-- RecognizerIntentActivity does not have any intent-filters and is thus not findable
        by the OS, but it can still be called directly by the class name. -->
        <!--
TODO: singleTask seems a more appropriate launchMode but returns the results to the caller
only on Android v5, So we have to use standard on older versions. See also:
http://stackoverflow.com/questions/8960072/onactivityresult-with-launchmode-singletask
Also, failed to set the launchMode from the resource, INSTALL_PARSE_FAILED_UNEXPECTED_EXCEPTION
-->
        <!-- This activity is exported, i.e. any app can launch K6nele. -->
        <!-- TODO: launching worked also with exported=true, although didn't try explicit packagename-based launching. -->
        <activity
            android:name=".activity.RecognizerIntentActivity"
            android:exported="true"
            android:label="@string/labelActivityRecognizerIntent"
            android:launchMode="standard"
            android:theme="@style/Theme.K6nele.Dialog">
            <!--
            <intent-filter>
                <action android:name="android.speech.action.RECOGNIZE_SPEECH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.speech.action.WEB_SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            -->
            <meta-data
                android:name="android.speech.DETAILS"
                android:value="ee.ioc.phon.android.speak.GetLanguageDetailsReceiver" />
        </activity>

        <!-- Voice search panel. -->

        <!--
			android:finishOnTaskLaunch="true"
			android:allowTaskReparenting="false"
        -->
        <activity
            android:name=".activity.SpeechActionActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:label="@string/labelActivityRecognizerIntent"
            android:launchMode="standard"
            android:theme="@style/Theme.K6nele.Dialog">
            <intent-filter>
                <action android:name="android.speech.action.RECOGNIZE_SPEECH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.speech.action.WEB_SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- input/output: Nothing -->
            <!-- Samsung Galaxy SII launches VOICE_COMMAND when HOME is double-clicked -->
            <intent-filter>
                <action android:name="android.intent.action.VOICE_COMMAND" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Input: EXTRA_ASSIST_PACKAGE, EXTRA_ASSIST_CONTEXT. Output: nothing. -->
            <!-- API 16 -->
            <!-- "Search assistant" on CM10.2, which can be mapped to various buttons -->
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- input/output: Nothing -->
            <!-- API 3 -->
            <!-- "Voice search" on CM10.2, which can be mapped to various buttons -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH_LONG_PRESS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- input/output: Nothing -->
            <intent-filter>
                <action android:name="android.speech.action.VOICE_SEARCH_HANDS_FREE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.speech.DETAILS"
                android:value="ee.ioc.phon.android.speak.GetLanguageDetailsReceiver" />
        </activity>

        <!-- This receiver is exported, i.e. any app can ask which languages K6nele supports. -->
        <receiver
            android:name=".GetLanguageDetailsReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.speech.action.GET_LANGUAGE_DETAILS" />
            </intent-filter>
        </receiver>

        <!--
        The purpose of MAIN/DEFAULT/exported=true is to support the creation of "activity shortcut",
        e.g. via Nova Launcher, i.e. the user can create an additional icon that launches directly
        into the Preferences.
        -->
        <activity
            android:name=".activity.Preferences"
            android:exported="true"
            android:label="@string/labelActivityPreferences">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PreferencesRecognitionServiceHttp"
            android:exported="false"
            android:label="@string/labelActivityPreferencesRecognitionServiceHttp"
            android:parentActivityName=".activity.Preferences">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PreferencesRecognitionServiceWs"
            android:exported="false"
            android:label="@string/labelActivityPreferencesRecognitionServiceWs"
            android:parentActivityName=".activity.Preferences">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AboutActivity"
            android:label="@string/labelActivityAbout"
            android:parentActivityName=".activity.Preferences"
            android:theme="@style/Theme.K6nele"></activity>

        <!-- This is the only activity that the recognizer can launch. -->
        <!-- TODO: do not reparent -->
        <activity
            android:name=".activity.DetailsActivity"
            android:label="@string/labelActivityDetails"
            android:theme="@style/Theme.K6nele.Dialog"></activity>
        <activity
            android:name=".activity.ComboSelectorActivity"
            android:label="@string/dialogTitleCombo"
            android:parentActivityName=".activity.Preferences"></activity>
        <activity
            android:name=".AppListActivity"
            android:label="@string/labelActivityAppList"
            android:parentActivityName=".activity.Preferences"></activity>
        <activity
            android:name=".GrammarListActivity"
            android:label="@string/labelActivityGrammarList"
            android:parentActivityName=".activity.Preferences"></activity>
        <activity
            android:name=".ServerListActivity"
            android:label="@string/labelActivityServerList"
            android:parentActivityName=".PreferencesRecognitionServiceHttp"></activity>
        <activity
            android:name=".activity.RewritesLoaderActivity"
            android:label="@string/labelActivityRewritesLoader"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/tab-separated-values" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RewritesActivity"
            android:label="@string/labelActivityRewrites"
            android:parentActivityName=".activity.Preferences">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"></meta-data>
        </activity>
        <activity
            android:name=".activity.PermissionsRequesterActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name=".activity.FetchUrlActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name=".activity.QuickSettingsActivity"
            android:label="@string/labelActivityQuickSettings"
            android:parentActivityName=".activity.Preferences"></activity>
        <activity
            android:name=".demo.SimpleDemo"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name=".demo.ExtrasDemo"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name=".demo.HandsfreeDemoActivity"
            android:label="@string/labelActivityHandsfreeDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demo.ChatDemoActivity"
            android:exported="true"
            android:label="@string/labelActivityChatDemo"></activity>
        <activity
            android:name=".demo.VoiceSearchDemo"
            android:label="@string/labelActivityVoiceSearchDemo"></activity>

        <activity
            android:name=".demo.EncoderDemoActivity"
            android:exported="true"
            android:label="@string/labelActivityEncoderDemo"></activity>

        <activity
            android:name=".demo.FormDemoActivity"
            android:exported="true"
            android:label="@string/labelActivityFormDemo"></activity>

        <service android:name="RecognizerIntentService"></service>

        <!-- This service is exported, i.e. any app can call K6nele, but needs to have recording-permission. -->
        <!-- TODO: why can't I specify more permissions here? -->
        <service
            android:name=".service.WebSocketRecognitionService"
            android:exported="true"
            android:icon="@drawable/ic_service"
            android:label="@string/labelRecognitionServiceWs"
            android:permission="android.permission.RECORD_AUDIO">
            <intent-filter>

                <!-- The constant value is defined at RecognitionService.SERVICE_INTERFACE. -->
                <action android:name="android.speech.RecognitionService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.speech"
                android:resource="@xml/recognition_service_ws" />
        </service>

        <service
            android:name=".service.HttpRecognitionService"
            android:exported="true"
            android:icon="@drawable/ic_service"
            android:label="@string/labelRecognitionServiceHttp"
            android:permission="android.permission.RECORD_AUDIO">
            <intent-filter>

                <!-- The constant value is defined at RecognitionService.SERVICE_INTERFACE. -->
                <action android:name="android.speech.RecognitionService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.speech"
                android:resource="@xml/recognition_service_http" />
            <!--
            // TODO: export K6nele functionality via meta-data
            <meta-data
                android:name="k6nele.valuesRecordingRate"
                android:value="string-array/valuesRecordingRate" />
            -->
        </service>

        <service
            android:name=".service.DemoRecognitionService"
            android:enabled="false"
            android:exported="true"
            android:label="@string/labelRecognitionServiceDemo"
            android:permission="android.permission.RECORD_AUDIO">
            <intent-filter>

                <action android:name="android.speech.RecognitionService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name=".service.WebSocketRecognitionService2"
            android:enabled="false"
            android:exported="true"
            android:label="@string/labelRecognitionServiceWs2"
            android:permission="android.permission.RECORD_AUDIO">
            <intent-filter>

                <!-- The constant value is defined at RecognitionService.SERVICE_INTERFACE. -->
                <action android:name="android.speech.RecognitionService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name=".service.SpeechInputMethodService"
            android:label="@string/labelIme"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/input_method" />
        </service>

        <provider
            android:name=".provider.AppsContentProvider"
            android:authorities="ee.ioc.phon.android.speak.provider.AppsContentProvider"
            android:exported="false" />

        <provider
            android:name=".provider.FileContentProvider"
            android:authorities="ee.ioc.phon.android.speak.provider.FileContentProvider"
            android:exported="true"
            android:permission="android.permission.RECORD_AUDIO" />
    </application>

</manifest>
